<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi Congratulations!!! You have successfully applied to the <%= @apply.role %> position.</p>
    <p>
    Job details<br>
    --------------------------
    </p>
    <p>Role: <%= @apply.role %></p>
    <p>

  </body>
</html>